/*navbar*/
#titre {
    border-bottom:2px solid #222222;
    height:50px;
}
/*css page post  */
    /* content  chapter article*/
    #postImageChapter{
        position:relative;
        top:50px;
        height:420px;
        width:100%;
    }
    .postContentImage{
        height:380px;
        width:100%;
    }
    #postTitle{
        position:absolute;
        top:38%;
        left:5%;
        right:5%;
    }
    #postTitle h1{
        background:white;
        opacity:0.8;
    }
    #postTitle h5{
        background:black;
        opacity:0.6; 
    }
    #encadr{
        position: relative;
        top:-5%;
    }
    #text-post{
        color:grey; 
    }
    #chapterTextContent{
        border-bottom:1px solid black;
    }
    #auteur{
        background:#ededed;
        color:black;      
    }
      /*comment chapter */
    #chapterDateComment{
        font-size:13px;
    }
    /*form comment chapter */
    .form{
        width:100%;
        border-top:1px solid white;
        border-right:1px solid white;
        border-left:1px solid white;
        border-bottom:1px solid black;
    }
    .form:focus{
        border-bottom:3px solid #17A2B8;
        background:#e5fbff;
    }

/*page home*/
    /*slider*/
    div.carousel-inner{
        position:relative;  
    }
    #slide1{
        position:absolute;
        top:40%;
    }
    #slide1 h1{
        font-size:50px; 
    }
    #slide1  p{ 
        font-size:18px;
    }
    #slide2{
        position:absolute;
        top:40%;
    }
    #slide3{
        position:absolute;
        top:40%;
    }

    /*cards home*/
    #cardHome{
      height:430px;
    }



